%h1 Digest Emoji
%h3
  change since
  = date.strftime("%m/%d/%Y")
  to now

- emoji.each do |group, collection|
  %h3= group.capitalize
  - if collection.empty?
    Nothing changed this week.
  - else
    - collection.each_slice(5) do |group|
      .row
        - group.each do |name, url|
          .emoji-listing{ class: name }
            %img.emoji{ src: url, width: '18', height: '18' }
            %b.name= name
